.footer {
    background-color: #1e3d9f;
    color: white;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.footer-img{
    width: 30px;
    height: auto;
    margin-right: 10px;
}
