.center{
    justify-content: center;
    align-items: center;
}

#banner{
    background-image: linear-gradient(to bottom right, blue, orange);
    color: white;
    padding: 10px;
}

.marquee-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.marquee-content {
    display: inline-block;
    animation: scroll 15s linear infinite;
}

.marquee-content-paused{
    animation-play-state: paused;
}

.marquee-controls{
    position: absolute;
    right: 10 px;
    top: 50%;
    transform: translate(-50%);
}

.marquee-controls button {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }