.header {
  background-color: #1e3d8f;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}


.header-title h1 {
  font-size: 24px;
  margin: 0;
  color: orange;
}


.header-title .highlight {
  color: white;
}


.nav-links {
  display: flex;
  gap: 15px;
  font-weight: bold;
  margin: 10px 0;
  flex-wrap: wrap;
}


.nav-links a {
  color: orange;
  text-decoration: none;
}


.nav-links a:first-child {
  color: white;
}


.search-container {
  background-color: white;
  border-radius: 6px;
  padding: 2px 8px;
  display: flex;
  align-items: center;
}


.search-container input {
  border: none;
  outline: none;
  font-size: 14px;
}
