body {
  margin: 0;
}
/*
right and wrong states for the multiple choice buttons
*/

#mcq button.right {
  background-color: lightgreen;
}

#mcq button.wrong {
  background-color: orangered;
}

nav {
  background-color: #2a4b8c;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mcq {
  border: solid 1px black;
  border-radius: 15px;
  padding: 25px;
  max-width: 60%;
  margin: 0 auto;
}

#mcq #buttonPanel {
  display: grid;
  grid-template: auto auto / auto auto;
  gap: 10px;
}

#mcq button {
  background-color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 10px;
}

.arrowButton {
  width: 30%;
  margin-top: 10px;
}

.arrowButtons {
  display: flex;
  justify-content: space-between;
}

#title {
  padding-left: 200px;
}
